@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
@import "/AtlantaRoadSafetySite/animations.css";

:root {
    --simple-trans: 0.125s ease;

    --page-bg: #111214;
    --secondary-bg: #222428;
    --text-color: #ddd;
    --subtext-color: #888;
    --accent-color: #ff3151;

    --uri-color: cyan;
    --uri-hover-color: teal;

    --title-font-family: 'Overpass', 'Barlow', sans-serif; 
    --body-font-family: 'Barlow', 'Segoe UI Variable Display', sans-serif;

    --separator-thickness: 2px;
    --separator-margin: 3rem;

    --vis-br: 12px;
}

html {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    font-family: var(--body-font-family);
    background-color: var(--page-bg);
    color: var(--text-color);
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: url(car.svg);
    padding: 2rem;
    max-width: 1200px;
    font-size: 1.2rem;
}

p {
    margin-bottom: 1rem;
}

a {
    transition: var(--simple-trans);
    text-decoration: none;
    color: var(--uri-color);
}

a:hover {
    color: var(--uri-hover-color)
}

h1 {
    font-family: var(--title-font-family);
    font-weight: 950;
    letter-spacing: -2px;
    font-size: 8rem;

    max-width: 1200px;

    margin: 0;
    /* color: var(--accent-color); */
    color: white;
}

.box h2, .box h3 {
    width: 100%;
    font-family: var(--title-font-family);
    font-weight: 800;
    font-size: 2.5rem;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.box h2::after, .box h3::after {
    content: url("/AtlantaRoadSafetySite/assets/arrow.svg");
    transform: scale(0.25);
    margin-left: 1rem;
}

h5 {
    font-size: 1.5rem;
    margin-bottom: 2em;
    font-weight: normal;
    color: var(--subtext-color);
}



.titlecard {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: left;
    min-height: 100vh;
    
}

.title-bg-outer {
    position: relative;
    width: 100vw;
    margin-top: -3rem;
}

.title-bg-inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.title-bg-inner-back {
    background: url("/AtlantaRoadSafetySite/assets/bg.jpg");
    background-size: cover;
    opacity: 0.5;
    filter: blur(4px);
    z-index: -2;
}

.title-bg-inner-front {
    background: linear-gradient(0deg,var(--page-bg) 0%, #00000000 100%);
    transform: translateY(5vh);
    z-index: -1;
}

.box::before {
    content: " ";
    min-height: var(--separator-thickness);
    width: 100%;
    background-color: var(--text-color);
    margin: var(--separator-margin) 0;
}

.box {
    display: flex;
    flex-wrap: wrap;
    overflow: visible;
    justify-content: space-between;
    gap: 1.5em;
    
    width: 100%;
    padding: 2em;  
}

.text {
    flex: 1 1 40%;
    font-size: 1rem;
    color: var(--text-color);
    line-height: 1.5;
}

.vis-outer {
    flex: 1 1 50%;
    min-height: 300px;
    overflow: visible;
}

.tableauPlaceholder {
    flex: 1 1 50%;
    min-height: 300px;
    overflow: visible;
}

.hidden {
    display: none;
}

.vis {
    border-radius: var(--vis-br);
    border: 1px solid #ffffff88;
    overflow: hidden;
    width: 100%;
}

.tableauPlaceholder, .tableauVis {
    min-height: 100% !important;
}

.button-container {
    display: flex;
    flex: 1;
    justify-content: space-around;
    border-radius: 8px;
    border: 0.5px solid #ffffff88;
    overflow: hidden;
    margin: -1rem 0 1rem 0;
}

.tab-button {
    width: 100%;
    background: var(--secondary-bg);
    border: none;
    border-left: 0.5px solid #ffffff88;
    border-right: 0.5px solid #ffffff88;
    color: var(--text-color);
    font-size: 1rem;
    padding: 0.5rem 0 0.5rem 0;
    cursor: pointer;
    transition: 0.1s;
    font-family: var(--body-font-family);
}

.tab-button:hover {
    background-color: var(--page-bg);
}

.selected-tab {
    font-weight: 700;
    background-color: black;
}

.kabco-bullet {
    --kabco-font-size: 1.5rem;
    font-size: var(--kabco-font-size);
    font-family: var(--title-font-family);
    font-weight: 700;
    width : calc(var(--kabco-font-size) + 0.5rem);
    height: calc(var(--kabco-font-size) + 0.5rem);
    border-radius: 100%;
    border: 1px solid #ffffff88;
    text-align: center;
    margin-bottom: 0;
}




@media (max-width: 768px) {
    .box {
        flex-direction: column;
    }

    .text,
    .tableauPlaceholder {
        width: 100%;
        flex: 1 1 100%;
    }

    h1 {
        font-size: 5rem;
    }

    arcgis-embedded-map {
        max-width: 100%;
    }
}
